.options {
    flex-grow: 1;
}

.option {
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.option:hover {
    cursor: pointer;
    background-color: #cccccc33;
    transition: all 0.2s linear;
}

.circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #0078ce;
}

.text {
    flex-grow: 1;
    text-align: left;
}

.alert {
    display: inline-block;
    height: 50%;
    padding: 1px 6px;
    border-radius: calc(25%);
    background-color: #0078ce;
    color: white;
}