.block {
    width: 80vw;
    /* height: 80vh; */
    padding: 1em;
    background-color: #cccccc44;
    /* border-radius: 10%; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));

}

.selection {
    width: 15vw;
    height: 15vh;
    border: 1px solid;
    line-height: 200%;
}

.selection:hover {
    transition: all 0.15s ease-in ;
    transform: translateY(-5px) scale(1.1);
}