.block {
  background-color:white;
  /* min-width: 200px; */
  height: 730px;
  display: flex;
  margin: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 70px rgba(192, 190, 190, 0.581);
}

.block >div:last-child {
    flex-grow: 1;
}

.wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px lightgray;
}

@media (min-width: 600px) {
  .block {
    width: 90vw;
    flex-direction: row;
  }

  .wrapper {
    width: 60vw;
  }
}
@media (max-width: 600px) {
  .block {
    width: 90vw;
    flex-direction: column;
  }

  .wrapper {
    width: 60vw;
  }
}
@media (max-width: 300px) {
  .block {
    width: 400px;
    scale: 0.6;
    flex-direction: column;
  }

  .wrapper {
    width: 300px;
  }
}



